@use '../utils' as *;

/*----------------------------------------*/
/* Section Title  
/*----------------------------------------*/
.section-subtitle {
    background: rgba(255, 219, 134, 0.5);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    padding: 5px 16px;
    gap: 5px;
    color: var(--td-heading);
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 600;

    .icon {
        display: flex;
    }
}

.section-title {
    font-size: 42px;

    @media #{$md} {
        font-size: 36px;
    }

    @media #{$sm} {
        font-size: 28px;
    }

    @media #{$xs} {
        font-size: 26px;
    }
}

.large-title {
    background: linear-gradient(90deg, #6C3BEB 1%, #6C3BEB 49.86%, #6C3BEB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 180px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    text-align: center;

    @media #{$md,$lg} {
        font-size: 100px;
    }

    @media #{$md} {
        font-size: 80px;
    }

    @media #{$xs,$sm} {
        font-size: 80px;
    }

    @media #{$xxs} {
        font-size: 60px;
    }
}

.section-title-wrapper {
    &.is-white {
        .section-title {
            color: var(--td-white);
        }
    }
}